/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* font-family: 'Nunito', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* font-family: 'Mukta', sans-serif; */

@import url('nav/nav.css'); @import url('main_wrapper/main_wrapper.css');

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Mukta', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

ul li {list-style: none;}

body {
 
    /* background-repeat: no-repeat; */
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(234, 238, 240, 0.144), #1671f901);
}