.main-wrapper {
    display: flex;
    /* border: 1px solid black; */
    min-height: 100vh;
    /* padding-top: 80px; */
}

.main-wrapper div {
    position: relative;
}

.main-wrapper .second-wrapper {
    /* border: 1px solid red; */
    margin-top: 90px;
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {

    /* .main-wrapper .first-wrapper {
        border: 1px solid red;
        transform: translateX(-100%);
    } */
    
}